<<<<<<< HEAD

<%= render 'forme' %>



=======
<h1>Editing Cliente</h1>

<%= render 'form' %>

<%= link_to 'Show', @cliente %> |
<%= link_to 'Back', clientes_path %>
>>>>>>> ad10758ddfdbf1227205791189757be3232ce289
