<<<<<<< HEAD

=======
<h1>Cadastro de Cliente</h1>
>>>>>>> ad10758ddfdbf1227205791189757be3232ce289

<%= render 'form' %>

<br>

<<<<<<< HEAD
=======

<%= link_to 'Back', clientes_path %>
>>>>>>> ad10758ddfdbf1227205791189757be3232ce289
