<<<<<<< HEAD

<%= render 'forme' %>



=======
<h1>Editing Local</h1>

<%= render 'form' %>

<%= link_to 'Show', @local %> |
<%= link_to 'Back', locals_path %>
>>>>>>> ad10758ddfdbf1227205791189757be3232ce289
