<<<<<<< HEAD
<h1>Nova Atividade</h1>

<%= render 'form' %>

=======
<h1>Cadastro de Atividades</h1>

<%= render 'form' %>


>>>>>>> ad10758ddfdbf1227205791189757be3232ce289
<%= link_to 'Back', tasks_path %>
