<<<<<<< HEAD

<%= render 'forme' %>

=======
<h1>Editar Projeto</h1>

<%= render 'form' %>

<%= link_to 'Visualizar', @projeto %> |
<%= link_to 'Voltar', projetos_path %>
>>>>>>> ad10758ddfdbf1227205791189757be3232ce289
