@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);

.login-form {
            width: 25rem;
            height: 18.75rem;
            position: fixed;
            top: 50%;
            margin-top: -9.375rem;
            left: 50%;
            margin-left: -12.5rem;
            background-color: #ffffff;
            opacity: 0;
            -webkit-transform: scale(.8);
            transform: scale(.8);
        }

.cad-form {
            width: 40rem;
            height: 32.75rem;
            position: relative;
            top:  50%;
            margin-top: 3.375rem;
            left: 40%;
            margin-left: -12.5rem;
            background-color: #ffffff;
            opacity: 0;
            -webkit-transform: scale(.8);
            transform: scale(.8);
            overflow: visible;
        }

.cal-form {
            width: 40rem;
            height: 29.75rem;
            position: relative;
            top:  -1%;
            margin-top: 0.375rem;
            left: 30%;
            margin-left: -12.5rem;
            background-color: #ffffff;
            opacity: 0;
            -webkit-transform: scale(.8);
            transform: scale(.8);
            overflow: visible;
        }
.cap-form {
            width: 40rem;
            height: 39.75rem;
            position: relative;
            top:  -1%;
            margin-top: 0.375rem;
            left: 30%;
            margin-left: -12.5rem;
            background-color: #ffffff;
            opacity: 0;
            -webkit-transform: scale(.8);
            transform: scale(.8);
            overflow: visible;
        }

        .carl-form {
            width: 40rem;
            height: 35.75rem;
            position: relative;
            top:  -1%;
            margin-top: 0.375rem;
            left: 30%;
            margin-left: -12.5rem;
            background-color: #ffffff;
            opacity: 0;
            -webkit-transform: scale(.8);
            transform: scale(.8);
            overflow: visible;
        }
.catask-form {
            width: 60rem;
            height: 45.75rem;
            position: relative;
            top:  -1%;
            margin-top: 0.375rem;
            left: 20%;
            margin-left: -12.5rem;
            background-color: #ffffff;
            opacity: 0;
            -webkit-transform: scale(.8);
            transform: scale(.8);
            overflow: visible;
        }

.carledit-form {
            width: 60rem;
            height: 45.75rem;
            position: relative;
            top:  -1%;
            margin-top: 0.375rem;
            left: 20%;
            margin-left: -12.5rem;
            background-color: #ffffff;
            opacity: 0;
            -webkit-transform: scale(.8);
            transform: scale(.8);
            overflow: visible;
        }

.cadprojedit-form {
            width: 60rem;
            height: 45.75rem;
            position: relative;
            top:  -1%;
            margin-top: 0.375rem;
            left: 20%;
            margin-left: -12.5rem;
            background-color: #ffffff;
            opacity: 0;
            -webkit-transform: scale(.8);
            transform: scale(.8);
            overflow: visible;
        }
.caledit-form {
            width: 60rem;
            height: 45.75rem;
            position: relative;
            top:  -1%;
            margin-top: 0.375rem;
            left: 20%;
            margin-left: -12.5rem;
            background-color: #ffffff;
            opacity: 0;
            -webkit-transform: scale(.8);
            transform: scale(.8);
            overflow: visible;
        }

.cadedit-form {
            width: 60rem;
            height: 45.75rem;
            position: relative;
            top:  -1%;
            margin-top: 0.375rem;
            left: 20%;
            margin-left: -12.5rem;
            background-color: #ffffff;
            opacity: 0;
            -webkit-transform: scale(.8);
            transform: scale(.8);
            overflow: visible;
        }

.careltask-form {
            width: 60rem;
            height: 45.75rem;
            position: relative;
            top:  -1%;
            margin-top: 0.375rem;
            left: 20%;
            margin-left: -12.5rem;
            background-color: #ffffff;
            opacity: 0;
            -webkit-transform: scale(.8);
            transform: scale(.8);
            overflow: visible;
        }

.calo-form {
           width: 40rem;
            height: 32.75rem;
            position: relative;
            top:  -1%;
            margin-top: 0.375rem;
            left: 30%;
            margin-left: -12.5rem;
            background-color: #ffffff;
            opacity: 0;
            -webkit-transform: scale(.8);
            transform: scale(.8);
            overflow: visible;
        }

.cac-form {
           width: 40rem;
            height: 35.75rem;
            position: relative;
            top:  -1%;
            margin-top: 0.375rem;
            left: 30%;
            margin-left: -12.5rem;
            background-color: #ffffff;
            opacity: 0;
            -webkit-transform: scale(.8);
            transform: scale(.8);
            overflow: visible;
        }


html, body {
            height: 100%;
        }
        .page-content {
            padding-top: 3.125rem;
position: left;
            min-height: 100%;
            height: 100%;
        }
        .table .input-control.checkbox {
            line-height: 1;
            min-height: 0;
            height: auto;
        }

        @media screen and (max-width: 800px){
            #cell-sidebar {
                flex-basis: 52px;
            }
        }

#butao { float: right;}

#butao1 { float: right;}
